@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default;
}

/* Custom utility classes for smooth resizing */
.will-change-transform {
  will-change: transform, width;
}

.will-change-margin {
  will-change: margin-right;
}

/* Resize handle styling */
.resize-handle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  cursor: col-resize;
  z-index: 30;
  transition: background-color 0.15s ease;
}

.resize-handle:hover {
  background-color: hsl(var(--p) / 0.5);
}

.resize-handle:active,
.resize-handle.active {
  background-color: hsl(var(--p));
}

/* Prevent text selection during resize */
.select-none {
  user-select: none;
}
